bumpversion==0.5.3
wheel==0.38.1
sphinx==1.7.5
sphinx-rtd-theme==0.4.0
coverage==4.4.1
mock>=1.0.1
flake8>=2.1.0
tox>=1.7.0
codecov>=2.0.0
ethereum==2.3.1
rlp==0.6.0
eth_utils>=1.0.3
beautifulsoup4==4.6.3
bs4==0.0.1
cycler==0.10.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.28
django-toolbelt==0.0.1
EasyProcess==0.2.3
gunicorn==19.9.0
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.22.0
Pillow==9.3.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyVirtualDisplay==0.2.1
selenium==3.141.0
six==1.11.0
static3==0.7.0
Unidecode==1.0.22
urllib3==1.26.5
webcolors==1.8.1
xvfbwrapper==0.2.9
