beautifulsoup4==4.6.1
bs4==0.0.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.7
django-toolbelt==0.0.1
EasyProcess==0.2.3
gunicorn==19.9.0
Pillow==5.2.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
pytz==2018.5
PyVirtualDisplay==0.2.1
selenium==3.13.0
static3==0.7.0
Unidecode==1.0.22
webcolors==1.8.1
xvfbwrapper==0.2.9
