<!-- pollSite -->
{% load static %}
<html>
<head>
<title> Site </title>
<link rel="stylesheet" type="text/css" href="{% static 'pollSite/css/bootstrap.css' %}" />
<style media="screen">
body {
    background: #5CDB95 ;
}
</style>
</head>
<body>
<iframe width="1500" height="650" src="{{ object.question_text}}" frameborder="0" allowfullscreen></iframe>
<form action="{% url 'pollSite:vote' object.id %}" method="post">
{% csrf_token %}
{% for choice in object.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" required="True"/>
    <label for="choice{{ forloop.counter }}">{{choice.choice_text}}</label><br />
{% endfor %}
<input type="submit" value="vote" />
</form>
</body>
</html>
